<%= form_for(trip) do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :location_id %>
    <%= f.text_field :location_id %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.text_field :start_time %>
  </div>

  <div class="field">
    <%= f.label :reserved %>
    <%= f.check_box :reserved %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
