<p id="notice"><%= notice %></p>

<!--creates a form that searches locations-->
<% form_for @search, :url => "/locations" do |f| %>
  <%=f.label :name %>
  <%= f.text_field :name %>

  <%=f.label :address %>
  <%= f.text_field :address %>

  <%=f.label :description %>
  <%= f.text_field :description %>

  <%=f.label :subject %>
  <%= f.select :subject, ['Art', 'Music', 'Math & Science', 'History', 'Technology'] %>

  <%=f.label :accessibility %>
  <%= f.text_field :accessibility %>

  <%= f.submit %>
<% end %>
<!--this function displays each loation that matches the search path-->
  <ul>
  <% @locations.each do |location| %>
    <li><%= link_to "#{location.name}", location_path(@location)%></li>
      <ul>
        <li><%=location.name%></li>
        <li><%=location.address%></li>
        <li><%=location.accessibility%></li>
        <li><%=location.subject%></li>
        <li><%=location.description%></li>
      </ul>
  <% end %>
  </ul>

<%= link_to 'New User', new_user_path %> -->
