<p id="notice"><%= notice %></p>

<!--creates a form that searches locations-->
<div style="border:1px solid black">
<%= search_form_for @search do |f| %>
  <%=f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%=f.label :address_cont %>
  <%= f.search_field :address_cont %>

  <%=f.label :description_cont %>
  <%= f.search_field :description_cont %>

  <%=f.label :subject_cont %>
  <%= f.search_field :subject_cont %>

  <%=f.label :accessibility_cont %>
  <%= f.search_field :accessibility_cont %>

  <%= f.submit %>
<% end %>
</div>
<!--this function displays each loation that matches the search path-->
  <ul>
  <% @locations.each do |location| %>
    <li> <a href="/locations/<%=location.id%>"><%=location.name%></a></li>
      <ul>
        <li><%=location.name%></li>
        <li><%=location.address%></li>
        <li><%=location.accessibility%></li>
        <li><%=location.subject%></li>
        <li><%=location.description%></li>
      </ul>
  <% end %>
  </ul>

<%= link_to 'New User', new_user_path %> -->
