<p id="notice"><%= notice %></p>

<ul>
<% @locations.each do |location| %>
  <li><%= link_to "#{location.name}", location_path(@location)%></li>
  <ul>
    <li><%= location.address %></li>
    <li><%= location.description %></li>
    <li><%= location.subject %></li>
    <li><%= location.accessibility %></li>
  </ul>
<% end %>
</ul>

<%= link_to 'New User', new_user_path %> -->
