<h1><%= @location.name %></h1>
<ul>
  <li><%=@location.address%></li>
  <li><%=@location.accessibility%></li>
  <li><%=@location.subject%></li>
  <li><%=@location.description%></li>
</ul>

<%= link_to 'Back', @user%>
