<% if session[:type] == "user" %>

  <div class="nav-bar">
    <div class="logo card-panel teal lighten-2">tripED</div>
    <ul class="nav-menu">
      <li><a href="/users/<%= @session %>">Profile</a></li>
      <li><%= link_to 'Sign Out', signout_path %></li>
    </ul>
  </div>


  <h1>School house not rockin'? Book a field trip.</h1>

  <%= form_tag(locations_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Locations" %>
    <%= submit_tag "Search" %>
  <% end %>

  <% if @locations.present? %>
      <ul class=''>
          <% @locations.each do |location|%>
          <li class='card-panel blue-grey lighten-5'>  <a href="/locations/<%=location.id%>"><%=location.name%> </li>
          <% end %>
      </ul>
  <% else %>
    <p>There are no locations matching this criteria: <%= params[:search] %>.</p>
  <% end %>
</div>


<% elsif session[:type] == "location"%>
<div class="container">
  <div class="nav-bar">
    <div class="logo">tripED</div>
    <ul class="nav-menu">
      <li><a href="/locations/<%= @location.id %>/edit">Edit</a></li>
      <li><%= link_to 'Sign Out', signout_path %></li>
    </ul>
  </div>

  <div class="location-container">
    <div><img src="<%= @location.image_url %>"></div>
    <h1><%= @location.name %></h1>
    <div><%= @location.address %></div><br>
    <div><%= @location.description %></div><br>
    <div>Subject: <%= @location.subject %> | Accessibility: <%= @location.accessibility %></div>
  </div>

  <div class="trips-container">
    <% if @trips.length == 0 %>
      <h4>You have no upcoming trips!</h4>
    <% else %>
      <h4>Upcoming Trips</h4>
      <% @trips.each do |trip| %>
        <div>
          Date: <%= trip.date %> |
          Time: <%= trip.start_time %> |
          <a href="/trips/<%=trip.id%>/edit">Edit</a> |
          <%= link_to 'Destroy', trip, method: :delete %>
        </div>
      <% end %>
    <% end %>
  </div>

  <br>

  <div><a href="/trips/new">Create New</a></div>

  <br>

<% end %>
</div>
