<h1><%= @location.name %></h1>

<div class="location-container">
  <div><img src="<%= @location.image_url %>"></div>
  <div>Address: <%= @location.address %></div>
  <div>Description: <%= @location.description %></div>
  <div>Subject: <%= @location.subject %></div>
  <div>Accessibility: <%= @location.accessibility %></div>
</div>

<a href="/locations/<%= @location.id %>/edit">Edit</a>
<%= link_to 'Sign Out', signout_path %>
