<% if session[:type] == "user" %>

  <h1>School house not rockin'? Book a field trip.</h1>

  <!--this is a search bar-->
  <%= form_tag(locations_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Locations" %>
    <%= submit_tag "Search", class: "waves-effect waves-light btn"%>
  <% end %>

<div class="row">
  <div class="col s7 push-s5">
    <% if @locations.present? %>
        <ul class=''>
            <% @locations.each do |location|%>

            <li class='card-panel blue-grey lighten-5'>  <a href="/locations/<%=location.id%>"><%=location.name%></a></li>
            <% end %>
        </ul>
    <% else %>
      <p>There are no locations matching this criteria: <%= params[:search] %>.</p>
    <% end %>
  </div>

  <div class="col s5 pull-s7">
     <div id="map"></div>
      <script>
      var map;
      function initMap() {
        var myLatLng = {lat: <%=@mylat%>, lng: <%=@mylng%>}

        var map = new google.maps.Map(document.getElementById('map'), {
          disableDefaultUI: true,
          center: myLatLng,
          zoom: 10
        });

        var bounds = new google.maps.LatLngBounds();

        var infowindow = new google.maps.InfoWindow({
          content: "<%=session[:school_address]%>"
        });

        var myMarker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          animation: google.maps.Animation.DROP
        });

        myMarker.addListener('click', function() {
          infowindow.open(map, myMarker);
        });

        var markers = [
          <% @location_coords.each do |location|%>
          ["<%=location[0]%>",<%=location[1]["lat"]%>,<%=location[1]["lng"]%>],
          <% end %>
        ];

        var newinfowindow = new google.maps.InfoWindow({
          content: "holding..."
        });

        for (var i = 0; i < markers.length; i++){

          var newMarker = new google.maps.Marker({
            position: {lat: markers[i][1], lng: markers[i][2]},
            map: map,
            title:markers[i][0],
            animation: google.maps.Animation.DROP
          });

          google.maps.event.addListener(newMarker, 'click', function(){
            newinfowindow.setContent(this.title);
            newinfowindow.open(map, this);
          })
      }
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgn3marDLka0pTrAKp5JRPSidCqdNiqVA&callback=initMap"></script>
  </div>
</div>

<% elsif session[:type] == "location"%>

  <div class="location-container">
    <div><img src="<%= @location.image_url %>"></div>
    <h1><%= @location.name %></h1>
    <div><%= @location.address %></div><br>
    <div><%= @location.description %></div><br>
    <div>Subject: <%= @location.subject %> | Accessibility: <%= @location.accessibility %></div>
  </div>

  <div class="trips-container">
    <% if @trips.length == 0 %>
      <h4>You have no upcoming trips!</h4>
    <% else %>
      <h4>Upcoming Trips</h4>
      <% @trips.each do |trip| %>
        <div>
          Date: <%= trip.date %> |
          Time: <%= trip.start_time %> |
          <a href="/trips/<%=trip.id%>/edit">Edit</a> |
          <%= link_to 'Destroy', trip, method: :delete %>
        </div>
      <% end %>
    <% end %>
  </div>

  <br>

  <div><a href="/trips/new">Create New</a></div>

  <br>

<% end %>
</div>
