<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Subject</th>
      <th>Accessibility</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @location.name %></td>
        <td><%= @location.address %></td>
        <td><%= @location.description %></td>
        <td><%= @location.subject %></td>
        <td><%= @location.accessibility %></td>
      </tr>
  </tbody>

</table>
