<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @location.email %>
</p>

<p>
  <strong>Password hash:</strong>
  <%= @location.password_hash %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @location.subject %>
</p>

<p>
  <strong>Accessibility:</strong>
  <%= @location.accessibility %>
</p>


<% @trips.each do |trip| %>
  <span> User Id: <%= trip.user_id %></span>
  <span> Date: <%= trip.date %></span>
  <span> Start Time: <%= trip.start_time %></span>
  <span> Created at: <%= trip.created_at %></span>
  <span> Updated at: <%= trip.updated_at %></span>
  <span> location Id: <%= trip.location_id %></span><br>
<% end %>





<br>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
