<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>


<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @location.subject %>
</p>

<p>
  <strong>Accessibility:</strong>
  <%= @location.accessibility %>
</p>


<% @trips.each do |trip| %>
  <% if trip.reserved? %>
    <p>Sorry! all trip for this trip have been reserved!</p>
  <%else%>
    <p>it is not reserved</p>

  <div>
    Date: <%= trip.date %><br>
    Start Time: <%= trip.start_time %><br>
    location Id: <%= trip.location_id %><br>

    <%= form_tag( "/trips/reserve", method: "put" ) do %>
      <%= hidden_field_tag "location", @location.id %>
      <%= hidden_field_tag "trip", trip.id %>
      <%= hidden_field_tag "user", session[:user_id] %>
      <%= submit_tag "Reserve" %>
     <%end%>
    <% end %>
 </div>
<% end %>



<br>
<a href="/users/<%= @session %>">Profile</a>
<%= link_to 'Back', locations_path %>
